 * {
margin: 8;
padding: 0;
}

.logo {
width: 350px;
border: 8px solid rgb(180, 180, 180);
}

body {
font-family: Verdana;
}

.name {
margin: 10px;
font-size: 60px;
}

hr {
  border-top: 5px solid darkgray;
margin-top: 30px;
margin-bottom: 20px;
}

a {
color: rgb(71, 140,191);
}