 * {
margin: 8;
padding: 0;
}

.logo {
width: 350px;
border: 8px solid rgb(180, 180,180);
}

body {
background-color:rgb(30, 32, 30);
font-family: Verdana;
color:rgb(180,180,180)
}

.name {
margin: 30;
font-size: 60px;
}

hr {
  border-top: 10px solid darkgray;
margin-top: 30px;
margin-bottom: 20px;
}